<div id="cont-cuenta" class="container-xlg" ng-controller="Cuenta">
	<div class="account container-lg">

    <!--PERSONAL INFO-->
		<form action="/update_client" method="post">
			<h1><%= __('my_account') %></h1>

      <div class="cont-form-cuenta" layout="row" layout-align="space-between end" layout-wrap>
				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100">
					<label><%= __('name') %></label>
					<input
            flex="100"
            type="text"
            name="name"
            value="<%- req.user.name %>"
            placeholder="<%= __('name') %>"
            class="input-cuenta">
				</div>
				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100" >
					<label><%= __('last_name') %></label>
					<input
            flex="100"
            type="text"
            name="last_name"
            value="<%- req.user.last_name %>"
            placeholder="<%= __('last_name') %>"
            class="input-cuenta">
				</div>
				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100" layout="row" layout-align="start end" layout-align-md="center center" layout-align-sm="center center" layout-wrap>
					<div class="input-cuenta input-cuenta-select" layout="column" layout-align="center start" flex="100">
				  		<md-select ng-model="someVal" placeholder="<%= __('gender') %>">
				    		<md-option value="1"><%= __('male') %></md-option>
				    		<md-option value="2"><%= __('female') %></md-option>
				  		</md-select>
					</div>
				</div>
			</div>

      <div class="cont-form-cuenta" layout="row" layout-align="space-between end" layout-wrap>
				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100">
					<label><%= __('birthday') %></label>
          <div layout="row" layout-align="space-between end" layout-wrap>
  					<div class="input-cuenta input-cuenta-select" layout="column" layout-align="center center" flex="30">
  				  		<md-select ng-model="someVal" placeholder="<%= __('day') %>">
  				    		<md-option value="1">1</md-option>
  				    		<md-option value="2">2</md-option>
  				    		<md-option value="3">3</md-option>
  				    		<md-option value="4">4</md-option>
  				    		<md-option value="5">5</md-option>
  				    		<md-option value="6">6</md-option>
  				    		<md-option value="7">7</md-option>
  				    		<md-option value="8">8</md-option>
  				    		<md-option value="9">9</md-option>
  				    		<md-option value="10">10</md-option>
  				  		</md-select>
  					</div>
  					<div class="input-cuenta input-cuenta-select" layout="column" layout-align="center center" flex="30">
  				  		<md-select ng-model="someVal" placeholder="<%= __('month') %>">
  				    		<md-option value="1">1</md-option>
  				    		<md-option value="2">2</md-option>
  				    		<md-option value="3">3</md-option>
  				    		<md-option value="4">4</md-option>
  				    		<md-option value="5">5</md-option>
  				    		<md-option value="6">6</md-option>
  				    		<md-option value="7">7</md-option>
  				    		<md-option value="8">8</md-option>
  				    		<md-option value="9">9</md-option>
  				    		<md-option value="10">10</md-option>
  				  		</md-select>
  					</div>
  					<div class="input-cuenta input-cuenta-select" layout="column" layout-align="center center" flex="30">
  				  		<md-select ng-model="someVal" placeholder="<%= __('year') %>">
  				    		<md-option value="1">2015</md-option>
  				    		<md-option value="2">2016</md-option>
  				    		<md-option value="3">2017</md-option>
  				  		</md-select>
  					</div>
          </div>
				</div>

				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100">
					<label><%= __('contact_phones') %></label>
					<input
            flex="100"
            type="text"
            name="phone"
            value="<%- req.user.phone %>"
            placeholder="<%= __('phone_number') %>"
            class="input-cuenta">
				</div>
				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100">
					<input flex="100" type="text" placeholder="<%= __('mobile_phone_number') %>" class="input-cuenta">
				</div>
			</div>

      <div class="cont-form-cuenta" layout="row" layout-align="space-between end" layout-wrap>
				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100">
					<label>E-mail</label>
					<input
            flex="100"
            type="text"
            value="<%- req.user.email %>"
            placeholder="E-mail"
            name="email"
            class="input-cuenta">
				</div>
				<!--
        <div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100">
					<label><%= __('credit_card_number') %></label>
					<input flex="100" type="text" placeholder="***** **** ****" class="input-cuenta">
				</div>
				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100">
					<input flex="100" type="text" placeholder="<%= __('change_payment_method') %>" class="input-cuenta">
				</div>
        -->
			</div>

			<div class="cont-form-cuenta" flex="100" layout="row" layout-align="center center" layout-wrap>
				<div class="cont-input-cuenta" flex="20" flex-md="80" flex-sm="90" layout="row" layout-align="start end" layout-align-md="center center" layout-align-sm="center center" layout-wrap>
					<input type="submit" flex="100" class="boton-cuenta" value="<%= __('save') %>">
				</div>
			</div>

      <p><a ng-href="/{{currentLang}}/recover_password"><%= __('change_password') %></a></p>
      <input type="hidden" name="id" value="<%- req.user.id %>">
		</form>
    <!--END PERSONAL INFO-->


	</div>
</div>
