<div id="cont-cuenta" class="container-xlg" ng-controller="Cuenta">

  <script type="text/javascript">
    window.user = <%- JSON.stringify(req.user) %>;
  </script>

  <div class="account container-lg">

    <!--PERSONAL INFO-->
		<form action="/update_client" method="post">
			<h1><%= __('my_account') %></h1>

      <div class="cont-form-cuenta" layout="row" layout-align="space-between end" layout-wrap>
				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100">
					<label><%= __('name') %></label>
					<input
            flex="100"
            type="text"
            name="name"
            value="<%- req.user.name %>"
            placeholder="<%= __('name') %>"
            class="input-cuenta">
				</div>
				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100" >
					<label><%= __('last_name') %></label>
					<input
            flex="100"
            type="text"
            name="last_name"
            value="<%- req.user.last_name %>"
            placeholder="<%= __('last_name') %>"
            class="input-cuenta">
				</div>
				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100" layout="row" layout-align="start end" layout-align-md="center center" layout-align-sm="center center" layout-wrap>
					<div class="input-cuenta input-cuenta-select" layout="column" layout-align="center start" flex="100">
				  		<md-select ng-model="userGender" placeholder="<%= __('gender') %>">
				    		<md-option value="male"><%= __('male') %></md-option>
				    		<md-option value="female"><%= __('female') %></md-option>
				  		</md-select>

              <input type="hidden" ng-value="userGender" name="gender">
					</div>
				</div>
			</div>

      <div class="cont-form-cuenta" layout="row" layout-align="space-between end" layout-wrap>

        <div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100">
          <label>E-mail</label>
          <input
            flex="100"
            type="text"
            value="<%- req.user.email %>"
            placeholder="E-mail"
            name="email"
            class="input-cuenta">
        </div>


				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100">
					<label><%= __('contact_phones') %></label>
					<input
            flex="100"
            type="text"
            name="phone"
            value="<%- req.user.phone %>"
            placeholder="<%= __('phone_number') %>"
            class="input-cuenta">
				</div>
				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100">
					<input flex="100" type="text" value="<%= req.user.mobilephone %>" name="mobilephone" placeholder="<%= __('mobile_phone_number') %>" class="input-cuenta">
				</div>
			</div>

      <div class="cont-form-cuenta" layout="row" layout-align="space-between end" layout-wrap>

        <div class="cont-input-cuenta" flex="60" flex-md="100" flex-sm="100">
          <label><%= __('birthday') %></label>
          <div layout="row" layout-align="space-between end" layout-wrap>
            <div class="input-cuenta input-cuenta-select" layout="column" layout-align="center center" flex="30">
                <md-select ng-model="userBirthday" placeholder="<%= __('day') %>">
                  <md-option ng-repeat="day in getRange(1,31)" ng-value="day">{{day}}</md-option>
                </md-select>
                <input type="hidden" ng-value="userBirthday" name="birthday">
            </div>
            <div class="input-cuenta input-cuenta-select" layout="column" layout-align="center center" flex="30">
                <md-select ng-model="userBirthmonth" placeholder="<%= __('month') %>">
                  <md-option ng-repeat="month in months track by $index" ng-value="$index">{{month}}</md-option>
                </md-select>
                <input type="hidden" ng-value="userBirthmonth" name="birthmonth">
            </div>
            <div class="input-cuenta input-cuenta-select" layout="column" layout-align="center center" flex="30">
                <md-select ng-model="userBirthyear" placeholder="<%= __('year') %>">
                  <md-option ng-value="{{year}}" ng-repeat="year in getRange(1900,2015)">{{year}}</md-option>
                </md-select>
                <input type="hidden" ng-value="userBirthyear" name="birthyear">
            </div>
          </div>
        </div>
				<!--
        <div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100">
					<label><%= __('credit_card_number') %></label>
					<input flex="100" type="text" placeholder="***** **** ****" class="input-cuenta">
				</div>
				<div class="cont-input-cuenta" flex="30" flex-md="100" flex-sm="100">
					<input flex="100" type="text" placeholder="<%= __('change_payment_method') %>" class="input-cuenta">
				</div>
        -->
			</div>

			<div class="cont-form-cuenta" flex="100" layout="row" layout-align="center center" layout-wrap>
				<div class="cont-input-cuenta" flex="20" flex-md="80" flex-sm="90" layout="row" layout-align="start end" layout-align-md="center center" layout-align-sm="center center" layout-wrap>
					<input type="submit" flex="100" class="boton-cuenta" value="<%= __('save') %>">
				</div>
			</div>

      <p><a ng-href="/{{currentLang}}/recover_password"><%= __('change_password') %></a></p>
      <input type="hidden" name="id" value="<%- req.user.id %>">
		</form>
    <!--END PERSONAL INFO-->


	</div>
</div>
