<div id="cont-cuenta" class="container-xlg">
  <div class="account contact-form container-lg">

    <!--PERSONAL INFO-->
    <form action="/update_password" method="post">
      <h1><%= __('change_password') %></h1>

      <div class="cont-form-cuenta" layout="row" layout-wrap layout-align="space-between center">
        <div class="cont-input-cuenta" flex="45" flex-md="100" flex-sm="100" >
          <label><%= __('new_password') %></label>
          <input required flex="100" type="password" value="" name="password" placeholder="<%= __('new_password') %>" class="input-cuenta">
        </div>
        <div class="cont-input-cuenta" flex="45" flex-md="100" flex-sm="100" >
          <label><%= __('confirm_password') %></label>
          <input required flex="100" type="password" value="" name="confirm_pass" placeholder="<%= __('confirm_password') %>" class="input-cuenta">
        </div>
      </div>

      <div class="cont-form-cuenta" flex="100" layout="row" layout-align="center center" layout-wrap>
        <div class="cont-input-cuenta" flex="20" flex-md="80" flex-sm="90" layout="row" layout-align="start end" layout-align-md="center center" layout-align-sm="center center" layout-wrap>
          <input type="submit" flex="100" class="boton-cuenta" value="<%= __('send') %>">
        </div>
      </div>

      <input type="hidden" name="token" value="<%=token%>">
      <input type="hidden" name="email" value="<%=email%>">

    </form>
    <!--END PERSONAL INFO-->


  </div>
</div>
