<div id="footer" class="footer">
	<div class="container-xxlg" layout="row" layout-wrap>

    <div class="logo-footer" flex-gt-md="15" flex="100">
			<a href="/home"><img src="/images/water.png" alt="WaterTours"></a>
		</div>

    <div class="content-col" flex-gt-md="15" flex="33">
      <ul>
        <li><a ng-href="/{{currentLang}}/tours/paseos-en-barco"><%= __('sailing')%></a></li>
				<li><a ng-href="/{{currentLang}}/tours/buceo"><%= __('diving')%></a></li>
				<li><a ng-href="/{{currentLang}}/tours/snorkel"><%= __('snorkel')%></a></li>
				<li><a ng-href="/{{currentLang}}/tours/pesca"><%= __('fishing')%></a></li>
        <li><a ng-href="/{{currentLang}}/tours/cenotes"><%= __('cenotes')%></a></li>
        <li><a ng-href="/{{currentLang}}/tours/deportes-acu%C3%A1ticos"><%= __('water_sports')%></a></li>
      </ul>
		</div>

		<div class="content-col" flex-gt-md="15" flex="33">
      <ul>
        <% if(req.params.lang === 'es'){ %>
          <li><a href="/es/quienessomos"><%= __('about_us')%></a></li>
          <li><a href="/es/preguntasfrecuentes"><%= __('faq')%></a></li>
          <li><a href="/es/aviso-de-privacidad"><%= __('privacy_policy')%></a></li>
          <li><a href="/es/contacto"><%= __('contact')%></a></li>
        <% }else{ %>
          <li><a href="/en/about-us"><%= __('about_us')%></a></li>
          <li><a href="/en/faq"><%= __('faq')%></a></li>
          <li><a href="/en/privacy-notice"><%= __('privacy_policy')%></a></li>
          <li><a href="/en/contact"><%= __('contact')%></a></li>
        <% } %>
		  <ul>
    </div>

		<div class="content-col" flex-gt-md="10" flex="33">
			<ul>
				<li><a ng-click="doRegisterToggle($event)" href=""><%= __('register')%></a></li>
				<li><a ng-click="doLoginToggle($event)" href=""><%= __('log_in')%></a></li>
				<% if(req.user){ %>
          <li><a href="/cuenta"><%= __('my_account')%></a></li>
        <% } %>
			</ul>
		</div>

		<div class="content-col" flex-gt-md="20" flex-md="50" flex-sm="100">
			<p><strong><%= __('contact')%></strong></p>
			<p><strong>Avenida Bonampak Calle Cereza # 1 SM 2A</strong></p>
			<p>L 20 CP 77500 Cancun Quintana Roo, Mexico</p>
			<p><a href="mailto:info@watertours.com"><strong>info@watertours.com</strong></a></p>
		</div>

		<div class="content-col last-col" flex-gt-md="25" flex-md="50" flex-sm="100">
			<p>
				<img class="payment-method" src="/images/pay-fo.png" alt="Paypal">
				<img class="payment-method" src="/images/mas-fo.png" alt="MasterCard">
				<img class="payment-method" src="/images/visa-fo.png" alt="Visa">
			</p>
			<div class="redes-footer">
				<a href="" target="_blank" layout-align="center center"><i class="icon-face"></i></a>
				<a href="" target="_blank" layout-align="center center"><i class="icon-twit"></i></a>
				<a href="" target="_blank" layout-align="center center"><i class="icon-instagram"></i></a>
			</div>
		</div>

	</div>
</div>
