<!--HEADER DESKTOP/TABLET-->
<div class="header header-desktop" hide-sm layout="row" layout-wrap>

  <div ng-click="toggleMenuMobile = !toggleMenuMobile"  class="button-menu-mobile">
    <hr><hr><hr>
  </div>

  <div class="menu-section menu-section-first" flex="40" flex-md="100" flex-sm="100" flex-order-md="3">
    <div layout="row" layout-align="start center" layout-align-md="center center">

      <form class="search-box" ng-controller="Search" flex layout="row" layout-align="start center" ng-submit="$event.preventDefault()">
        <i class="icon-buscador"></i>
        <md-autocomplete
          md-selected-item="selectedTour"
          md-selected-item-change="selectedItemChange(item)"
          md-search-text="searchText"
          md-items="item in querySearch(searchText)"
          md-item-text="item.name"
          md-min-length="1"
          placeholder="<%= __('search')%>"
          md-menu-class="autocomplete-custom-template"
          class="input-header" >
          <md-item-template>
            <span class="item-title search-box-item">
              <img src="{{item.avatar1}}" alt="{{item.name}}"> <a ng-href="/{{currentLang}}/tour/{{item.url}}"> {{item.name}} </a>
            </span>
          </md-item-template>
        </md-autocomplete>
      </form>

      <div  class="advanced-search" layout="row" layout-align="center center">
        <a href="/<%= req.params.lang %>/tours"><strong><%= __('advanced_search')%></strong></a>
      </div>
    </div>
  </div>

  <div class="menu-section menu-section-logo" flex="20" flex-md="100" flex-sm="100" flex-order-md="1">
    <a href="/<%= req.params.lang %>/"><img class="logo" src="/images/watertourslogo.png" alt=""></a>
  </div>

  <div class="menu-section account-menu" flex="40" flex-md="100" flex-sm="100"  flex-order-md="2" layout="row" layout-align-md="center center">
    <div flex class="custom-selector" layout="row" layout-align="center center">
      <a><i class="icon-moneda"></i> <strong>{{global_currency.currency_code}}</strong> <i class="icon-flecha2 custom-selector-arrow"></i></a>
      <ul class="custom-selector-list">
        <li ng-repeat="item in currencyList track by $index">
          <a ng-click="setCurrency(item)">
            <span ng-if="item.currency_code == global_currency.currency_code">&#10003;</span>
            ({{item.currency_code}}) {{item.name}}
          </a>
        </li>
      </ul>
    </div>
    <div flex class="custom-selector" layout="row" layout-align="center center">
      <a><i class="icon-world"></i> <strong>{{global_lang.label}}</strong> <i class="icon-flecha2 custom-selector-arrow"></i></a>
      <ul class="custom-selector-list">
        <li ng-repeat="item in langList track by $index">
          <% if(res.statusCode != 404){ %>

            <a ng-href="/change_lang?lang={{item.value}}&previous_lang=<%=req.getLocale()%>&from_url=<%=req.path%>">
              <span ng-if="item === global_lang">&#10003;</span>
              {{item.label}}
            </a>

          <% }else{ %>

            <a ng-href="/change_lang?lang={{item.value}}">
              <span ng-if="item === global_lang">&#10003;</span>
              {{item.label}}
            </a>

          <% } %>
        </li>
      </ul>
    </div>
    <div class="account-menu-inner" flex layout="row" layout-align="center center" >
      <% if(req.user){ %>
        <span class="account-menu-item login-icon-wrap">
          <a href="/cuenta">
            <% if(req.user.facebookId){ %>
              <img src="http://graph.facebook.com/<%= req.user.facebookId %>/picture" alt="">
            <% }else{ %>
              <i class="icon-login"></i>
            <% } %>
          </a>
        </span>

        <span class="account-menu-item account-item">
          <a href="/<%= req.params.lang %>/account">
            <strong>
              <%= __('my_account')%>
            </strong>
          </a>
        </span>
      <% } %>
      <span class="account-menu-item">
         <% if(req.user){ %>
          <a href="/logout"><strong><%= __('log_out')%></strong></a>
        <% }else{ %>
          <a ng-click="doRegisterToggle()" href=""><strong><%= __('register')%></strong></a>
        <% } %>
      </span>
      <span class="account-menu-item">
        <a ng-href="/{{currentLang}}/booking">
          <i class="icon-carrito"></i>
          <span class="cart-items-n" ng-if="cart_items.length > 0">{{cart_items.length}}</span>
        </a>
      </span>
      <% if(!req.user){ %>
        <span class="account-menu-item">
          <a ng-click="doLoginToggle()" href="" class="action-btn"><strong><%= __('log_in')%></strong></a>
        </span>
      <% } %>
    </div>
  </div>

</div>

<!--END HEADER DESKTOP/TABLET-->

<!--HEADER MOBILE-->

<div class="header header-mobile" hide-gt-sm show-sm>

  <div layout="row" layout-align="space-between center">

    <div ng-click="toggleMenuMobile = !toggleMenuMobile"  class="button-menu-mobile">
      <hr><hr><hr>
    </div>

    <div >
      <a href="/"><img class="logo" src="/images/watertourslogo.png" alt=""></a>
    </div>

    <div class="account-menu" flex-order-md="2">
      <div layout="row" layout-align="end center">
        <% if(req.user){ %>
          <span class="login-icon-wrap">
            <a href="/cuenta">
              <% if(req.user.facebookId){ %>
                <img src="http://graph.facebook.com/<%= req.user.facebookId %>/picture" alt="">
              <% }else{ %>
                <i class="icon-login"></i>
              <% } %>
            </a>
          </span>
        <% } %>
        <span>
          <a ng-href="/{{currentLang}}/booking">
            <i class="icon-carrito"></i>
            <span class="cart-items-n" ng-if="cart_items.length > 0">{{cart_items.length}}</span>
          </a>
        </span>
      </div>
    </div>

  </div>


  <div class="container-xsm submenu" layout="row" layout-align="space-between center">
    <div flex class="custom-selector" layout="row" layout-align="center center">
      <a><i class="icon-moneda"></i> <strong>{{global_currency.currency_code}}</strong> <i class="icon-flecha2 custom-selector-arrow"></i></a>
      <ul class="custom-selector-list">
        <li ng-repeat="item in currencyList track by $index">
          <a ng-click="setCurrency(item)">
            <span ng-if="item.currency_code == global_currency.currency_code">&#10003;</span>
            ({{item.currency_code}}) {{item.name}}
          </a>
        </li>
      </ul>
    </div>
    <div flex class="custom-selector" layout="row" layout-align="center center">
      <a><i class="icon-world"></i> <strong>{{global_lang.label}}</strong> <i class="icon-flecha2 custom-selector-arrow"></i></a>
      <ul class="custom-selector-list">
        <li ng-repeat="item in langList track by $index">
          <a ng-href="/change_lang?lang={{item.value}}&previous_lang=<%=req.getLocale()%>&from_url=<%=req.path%>">
            <span ng-if="item === global_lang">&#10003;</span>
            {{item.label}}
          </a>
        </li>
      </ul>
    </div>
    <span>
      <a ng-click="toggleSearchMobile = !toggleSearchMobile" href=""><strong><%= __('search')%></strong></a>
    </span>
    <% if(!req.user){ %>
      <span>
        <a ng-click="doRegisterToggle($event)" href=""><strong><%= __('register')%></strong></a>
      </span>
      <span>
        <a ng-click="doLoginToggle($event)" href="" class="action-btn"><strong><%= __('log_in')%></strong></a>
      </span>
    <% }else{ %>
      <span>
        <a href="/<%= req.params.lang %>/account"><strong><%= __('my_account')%></strong></a>
      </span>
      <span>
        <a href="/logout"><strong><%= __('log_out')%></strong></a>
      </span>
    <% } %>
  </div>

</div>

<div class="header search-mobile" ng-class="{'search-mobile-on': toggleSearchMobile}">
  <form class="search-box" flex ng-submit="$event.preventDefault()">
    <md-autocomplete
      md-selected-item="selectedTour"
      md-selected-item-change="selectedItemChange(item)"
      md-items="item in querySearch(searchText)"
      md-item-text="item.name"
      md-min-length="1"
      placeholder="Buscar"
      md-menu-class="autocomplete-custom-template"
      class="input-header" >
      <md-item-template>
        <span class="item-title">
          <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
          <a ng-href="/{{currentLang}}/tour/{{item.url}}"> {{item.name}} </a>
        </span>
      </md-item-template>
    </md-autocomplete>
  </form>

  <%- partial('../partials/search') -%>

  <div class="advanced-search">
    <a href="/tours"><strong><%= __('advanced_search')%></strong></a>
  </div>

</div>

<!--END HEADER MOBILE-->
