<div id="home" ng-controller="Home" ng-cloak>

  <div ng-show="loading" layout="row" layout-align="center center" full-screen-wrapper ng-style="newWidth()">
    <!--<md-progress-circular md-mode="indeterminate" ></md-progress-circular>-->
    <img src="/images/loader.gif" alt="Cargando...">
  </div>

  <div ng-show="!loading" id="home-photos" class="tile-container" layout="row" layout-wrap full-screen-wrapper ng-style="newWidth()">

    <div class="slider-container" flex-gt-sm="50" flex="100">


      <slick class="landing-slider"
              speed="500"
              pauseOnHover="true"
              autoplaySpeed="5000"
              autoplay="true"
              fade="true"
              dots="true"
              arrows="false"
              ng-if="toursrand1.length"
              data="toursrand1"
      >

        <!--PROMO SLIDE-->
        <div ng-if="isGlobalDiscountActive"class="landing-promo-slide"
        >
          <div
            class="landing-promo-slide-content"
            layout="row"
            layout-align="center center"
          >
            <div class="landing-promo-slide-content-inner">

              <div class="landing-promo-circle" layout="row" layout-align="center center">
                <div class="landing-promo-circle-inner">

                  <% if(req.params.lang == 'es'){ %>
                    <p class="top-text"><%= __('by_launching') %></p>
                    <h3><strong><%= __('all_the_store') %></strong></h3>
                    <h2><%= __('discount') %></h2>
                  <% }else{ %>
                    <h2>Launch SALE</h2>
                  <% } %>
                  <p>
                    <a href="/<%= req.params.lang %>/tours" class="action-btn-white"><%= __('see_more') %></a>
                  </p>
                </div>
              </div>
              <div class="discount-counter">
                <div id="counter-inner" >
                  <p><strong><%= __('discounts_end_on') %>:</strong></p>
                  <div id="counter-home" class="counter-inner-cols" layout="row"></div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!--END PROMO SLIDE-->


        <!--TOUR SLIDE-->
        <div
          ng-if="!isGlobalDiscountActive"
          ng-repeat="tour in toursrand1"
          class="landing-slider-item transitions"
          ng-cloak
        >
          <div class="landing-slider-item-bg " lazy-img="{{tour.avatar}}" ng-style="{ 'background-image': 'url({{tour.avatar}})' }"></div>
          <a href="/<%= req.params.lang %>/tour/{{tour.url}}" class="absolute-link"></a>
          <div class="landing-slider-cover">
            <div class="landing-slider-footer">
              <i class="icon-{{getCategoryIcon(tour.firstCategory)}}"></i>
              <% if(req.params.lang === 'es'){ %>
                <h4><strong>{{tour.name}}</strong></h4>
              <% }else{ %>
                <h4><strong>{{tour.name_en}}</strong></h4>
              <% } %>

              <p class="tour-price">
                <span class="tour-price tour-price-before" ng-if="tour.total_price != tour.total_price_before && isGlobalDiscountActive">
                  {{tour.total_price_before | currency:"$":0}} {{global_currency.currency_code | uppercase}}
                </span>

                <span ng-class="{ 'tour-price-hl' : tour.total_price != tour.total_price_before  }">
                  {{tour.total_price | currency:"$":0}} <span class="tour-price-currency">{{global_currency.currency_code | uppercase}}</span>
                </span>
              </p>

              <p><a href="/<%= req.params.lang %>/tour/{{tour.url}}" class="action-btn-white transitions"><strong><%= __('book_now') %></strong></a></p>
            </div>
          </div>
        </div>
        <!--END TOUR SLIDE-->

      </slick>
    </div>

    <div flex-gt-sm="50" flex="100" class="perfectscrollbar">
      <md-grid-list
      md-cols-gt-md="4"
      md-cols-md="2"
      md-cols-sm="1"
      md-row-height="fit"
      md-row-height-sm="fit"
      md-gutter="0px"
      full-screen-wrapper
      >
        <md-grid-tile
        ng-repeat="tour in toursrand2"
        md-colspan-gt-md="{{tour.collgspan}}"
        md-rowspan-gt-md="{{tour.rowlgspan}}"
        md-colspan-md="{{tour.colmdspan}}"
        md-rowspan-md="{{tour.rowmdspan}}"
        md-colspan-sm="1"
        md-rowspan-sm="1"
        class="landing-tour landing-tour-{{tour.collgspan}}"
        layout-align-gt-sm="center center"
        >
          <div class="landing-tour-background "
              lazy-img="{{tour.icon}}"
              ng-style="{ 'background-image': 'url({{tour.icon}})' }"
          ></div>

          <div ng-if="getTourDiscount(tour) > 0" class="disc-circle" layout="row" layout-align="center center">
            <span> -{{ getTourDiscount(tour) }}% </span>
          </div>

          <a href="/<%= req.params.lang %>/tour/{{tour.url}}" class="absolute-link"></a>
          <md-grid-tile-footer class="landing-tour-content" layout="column" layout-align-gt-sm="space-around center" layout-align-sm="center center">
            <i class="icon-{{getCategoryIcon(tour.firstCategory)}}"></i>
            <h4>
              <strong>
                <a href="/<%= req.params.lang %>/tour/{{tour.url}}">
                  <% if(req.params.lang === 'es'){ %>
                    {{tour.name}}
                  <% }else{ %>
                    {{tour.name_en}}
                  <% } %>
                </a>
              </strong>
            </h4>

            <p class="tour-price">
              <span class="tour-price tour-price-before" ng-if="tour.total_price != tour.total_price_before && isGlobalDiscountActive">
                {{tour.total_price_before | currency:"$":0}} {{global_currency.currency_code | uppercase}}
              </span>

              <span ng-class="{ 'tour-price-hl' : tour.total_price != tour.total_price_before  }">
                {{tour.total_price | currency:"$":0}} <span class="tour-price-currency">{{global_currency.currency_code | uppercase}}</span>
              </span>
            </p>

            <p><a href="/<%= req.params.lang %>/tour/{{tour.url}}" class="action-btn-white transitions"><strong><%= __('book_now') %></strong></a></p>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>

      <md-grid-list
      md-cols-gt-md="4"
      md-cols-md="2"
      md-cols-sm="1"
      md-row-height="fit"
      md-row-height-sm="fit"
      md-gutter="0px"
      full-screen-wrapper
      >
        <md-grid-tile
        ng-repeat="tour in toursrand3"
        md-colspan-gt-md="{{tour.collgspan}}"
        md-rowspan-gt-md="{{tour.rowlgspan}}"
        md-colspan-md="{{tour.colmdspan}}"
        md-rowspan-md="{{tour.rowmdspan}}"
        md-colspan-sm="1"
        md-rowspan-sm="1"
        class="landing-tour"
        layout-align-gt-sm="center center"
        >
          <div class="landing-tour-background transitions"
              ng-style="{ 'background-image': 'url({{tour.icon}})' }"
          ></div>

          <div ng-if="getTourDiscount(tour) > 0" class="disc-circle" layout="row" layout-align="center center">
            <span> -{{ getTourDiscount(tour) }}% </span>
          </div>

          <a href="/<%= req.params.lang %>/tour/{{tour.url}}" class="absolute-link"></a>
          <md-grid-tile-footer class="landing-tour-content" layout="column" layout-align-gt-sm="space-around center" layout-align-sm="center center">
            <i class="icon-{{getCategoryIcon(tour.firstCategory)}}"></i>
            <h4>
              <strong>
                <a href="/<%= req.params.lang %>/tour/{{tour.url}}">
                  <% if(req.params.lang === 'es'){ %>
                    {{tour.name}}
                  <% }else{ %>
                    {{tour.name_en}}
                  <% } %>
                </a>
              </strong>
            </h4>
            <p class="tour-price">
              <span class="tour-price tour-price-before" ng-if="tour.total_price != tour.total_price_before">
                {{tour.total_price_before | currency:"$":0}} {{global_currency.currency_code | uppercase}}
              </span>

              <span ng-class="{ 'tour-price-hl' : tour.total_price != tour.total_price_before  }">
                {{tour.total_price | currency:"$":0}} <span class="tour-price-currency">{{global_currency.currency_code | uppercase}}</span>
              </span>
            </p>
            <p><a href="/<%= req.params.lang %>/tour/{{tour.url}}" class="action-btn-white transitions"><strong><%= __('book_now') %></strong></a></p>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </div>

  </div>
</div>
