<script type="text/javascript">
  var category = '<%- meta.req.category %>';
  var minFee = '<%- meta.req.minFee %>';
  var maxFee = '<%- meta.req.maxFee %>';
  var term = '<%- meta.req.term %>';
  window.sec_categories = <%- JSON.stringify(meta.sec_categories) %>;
  window.rate_categories = <%- JSON.stringify(meta.rate_categories) %>;
</script>

<div ng-controller="resultsCTL" layout="row" layout-md="column" layout-sm="column" ng-style="theStyle" full-screen-wrapper ng-style="newWidth()" >
  <!--LEFT SIDE-->
  <md-content flex="65" flex-md="100" flex-sm="100"><section class="search-results-tours">

    <!--FILTERS-->
    <%- partial('../partials/filters') -%>

    <div class="search-results-options">

      <!--<div class="search-results-option-item tour-type" flex flex-sm="100">
        <p>Categoria</p>

        <div class="cont-tipo" layout="column" layout-align="center center" flex="100">
          <md-select placeholder="Tipo de tour" class="custom-select" ng-model="category" ng-change="getTours()">
            <md-option ng-repeat="category in toursCategories"  value="{{category.id}}">{{category.name}}</md-option>
          </md-select>
        </div>
      </div>-->

      <!--<md-radio-group ng-model="orderBy" class="cont-iconos" flex="100" layout="row" layout-align="start start" layout-wrap>

        <div class="search-results-option-item" flex="25" flex-sm="50">
          <i class="icon-precio icono-opciones ap-precio"></i>
          <p>Precio</p>
          <md-radio-button value="fee" class="md-primary"></md-radio-button>
        </div>
        <div class="search-results-option-item" flex="25" flex-sm="50">
          <i class="icon-new icono-opciones ap-nuevas"></i>
          <p>Nuevas</p>
          <md-radio-button value="dtCreated" class="md-primary"></md-radio-button>
        </div>
        <div class="search-results-option-item" flex="25" flex-sm="50">
          <i class="icon-populares icono-opciones ap-populares"></i>
          <p>Populares</p>
          <md-radio-button value="raiting" class="md-primary"></md-radio-button>
        </div>
        <div class="search-results-option-item" flex="25" flex-sm="50">
          <i class="icon-mascompradas icono-opciones ap-mas"></i>
          <p>Más compradas</p>
          <md-radio-button value="reservations" class="md-primary"></md-radio-button>
        </div>
      </md-radio-group>-->
    </div>

    <!--END FILTERS-->

    <div class="container-xlg" layout-wrap>

    	<div ng-hide="loading" class="search-results-list" layout="row" layout-align="space-between start" layout-wrap>
        <div flex-sm="100" flex="50" class="tour-item" ng-repeat="tour in tours | orderBy : orderBy | filter:{visible: true} | toursByCategory:selected | limitTo: (size * page)">
          <div class="tour-item-inner" ng-style="{ 'background-image' : 'url(' + tour.avatar1 + ')' }">
            <a href="/detalle/{{tour.id}}" class="absolute-link"></a>
            <div class="tour-item-detail" layout="row" layout-align="space-between center">
              <div flex="60">
                <p>{{tour.name}}</p>
                <p>{{tour.location.name}}</p>
                <p>Categorias : {{ getCategoriesString(tour) }}</p>
              </div>
              <div flex="30">
                <p>DESDE</p>
                <p class="tour-item-price">
                  <strong>{{tour.fee | currency}}</strong> <span>MX</span></p>
              </div>
            </div>
            <div class="tour-item-overlay" flex="100" layout="row" layout-align="center center" >
              <a class="action-btn" href="/detalle/{{tour.id}}">RESERVAR!</a>
            </div>
          </div>
        </div>
    	</div>
      <div ng-show="tours && (page * size) < tours.length" layout="row" layout-align="center center">
        <md-button ng-click="page = page + 1">Show more</md-button>
      </div>
      <div ng-show="loading" layout="row" layout-align="center center" layout-fill>
        <md-progress-circular md-mode="indeterminate" ></md-progress-circular>
      </div>
    </div>
  </section></md-content>

  <section class="map-wrapper" flex="35" flex-md="100" flex-sm="100">
    <!--<div class="hotel-search" layout="row" layout-sm="column">
      <div flex="60" flex-sm="100" class="hotel-search-label">
        <a href="#"><strong><i class="icon-pin"></i> Calcular ubicación de acuerdo a mi hotel:</strong></a>
      </div>
      <div flex="40" flex-sm="100">
        <md-autocomplete
            md-selected-item="selectedHotel"
            md-search-text="searchText"
            md-items="hotel in hotels"
            md-item-text="hotel.name"
            md-min-length="0"
            placeholder="Busca un hotel">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{hotel.name}}</span>
          </md-item-template>
          <md-not-found>
            No se econcontro "{{searchText}}".
          </md-not-found>
        </md-autocomplete>
      </div>
    </div>-->
    <leaflet center="center"  markers="markers" layers="layers"></leaflet>
  </section>

</div>
