<script type="text/javascript">
  var category = '<%- meta.req.category %>';
  var minFee = '<%- meta.req.minFee %>';
  var maxFee = '<%- meta.req.maxFee %>';
  var term = '<%- meta.req.term %>';
  window.sec_categories = <%- JSON.stringify(meta.sec_categories) %>;
  window.rate_categories = <%- JSON.stringify(meta.rate_categories) %>;
</script>

<div ng-controller="resultsCTL" layout="row" layout-md="column" layout-sm="column" ng-style="theStyle" full-screen-wrapper ng-style="newWidth()" >
  <!--LEFT SIDE-->
  <md-content flex="65" flex-md="100" flex-sm="100"><section class="search-results-tours">

    <!--FILTERS-->
    <%- partial('../partials/filters') -%>
    <!--END FILTERS-->

    <div class="container-xlg" layout-wrap>

    	<div ng-hide="loading" class="search-results-list" layout="row" layout-align="space-between start" layout-wrap>
        <div flex-sm="100" flex="50" class="tour-item" ng-repeat="tour in tours | orderBy : orderBy | filter:{visible: true} | toursByCategory:selected | limitTo: (size * page)">
          <div class="tour-item-inner">
            <div class="tour-item-bg" ng-style="{ 'background-image' : 'url(' + tour.avatar3 + ')' }"></div>

            <a href="/detalle/{{tour.url}}" class="absolute-link"></a>
            <div class="tour-item-detail" layout="row" layout-align="space-between center">
              <div flex="60">
                <p>{{tour.name}}</p>
                <p>{{tour.location.name}}</p>
                <p>Categorias : {{ getCategoriesString(tour) }}</p>
              </div>
              <div flex="30">
                <p>DESDE</p>
                <p class="tour-item-price">
                  <strong>{{tour.fee | currency}}</strong> <span>M.X.N</span></p>
              </div>
            </div>
            <div class="tour-item-overlay" flex="100" layout="row" layout-align="center center" >
              <a class="action-btn-white" href="/detalle/{{tour.url}}">¡RESERVAR!</a>
            </div>
          </div>
        </div>
    	</div>
      <div ng-show="tours && (page * size) < tours.length" layout="row" layout-align="center center">
        <a ng-click="page = page + 1" href="" class="action-btn">Ver más</a>
      </div>
      <div ng-show="loading" layout="row" layout-align="center center" layout-fill>
        <!--<md-progress-circular md-mode="indeterminate" ></md-progress-circular>-->
        <img src="/images/loader.gif" alt="">
      </div>
    </div>
  </section></md-content>

  <section class="map-wrapper map-wrapper-alt" flex="35" flex-md="100" flex-sm="100">
    <!--<div class="hotel-search" layout="row" layout-sm="column">-->
      <!--<div flex="60" flex-sm="100" class="hotel-search-label">-->
    <div class="hotel-search">
      <div class="hotel-search-label">
        <a><strong>Lugares de salida de tours</strong></a>
      </div>
      <!--<div flex="40" flex-sm="100">
        <md-autocomplete
            md-selected-item="selectedHotel"
            md-search-text="searchText"
            md-items="hotel in hotels"
            md-item-text="hotel.name"
            md-min-length="0"
            placeholder="Busca un hotel">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{hotel.name}}</span>
          </md-item-template>
          <md-not-found>
            No se econcontro "{{searchText}}".
          </md-not-found>
        </md-autocomplete>
      </div>-->
    </div>
    <leaflet center="center"  markers="markers" layers="layers"></leaflet>
  </section>

</div>
