<div id="tu-reservacion" ng-class="step == 0 ? 'activar' : 'ng-hide'">


    <div class="block-content" layout="row" layout-align="space-between start" layout-wrap ng-repeat="tour in tours track by $index">
        <div class="booking-tour-img" flex="30" flex-md="35" flex-sm="100">
            <div class="booking-tour-img"  ng-style="{ 'background-image' : 'url(' + tour.avatar2 + ')'}"></div>
        </div>
        <div class="booking-form" flex="70" flex-md="65" flex-sm="100">
            <% if(req.params.lang === 'es'){ %>
              <h3>{{tour.name}}</h3>
              <p>{{tour.hotel && tour.transfer ? "con transportación" : ""}}</p>
            <% }else{ %>
              <h3>{{tour.name_en}}</h3>
              <p>{{tour.hotel && tour.transfer ? "transfer included" : ""}}</p>
            <% } %>
            <section>
                <div class="input-field-wrap" layout="row" layout-align="space-between center" >
                    <label flex="40">
                      <i class="icon-calendario highlight"></i> <%= __('activity_day') %>:
                    </label>
                    <div flex="60">
                      <md-datepicker flex="75" ng-model="tour.date" md-min-date="minDate" md-placeholder="Fecha"></md-datepicker>
                    </div>
                </div>
                <!--<div class="input-field-wrap" layout="row" layout-align="space-between center" ng-if="tour.location">
                    <label flex="20">
                      <i class="icon-pin highlight"></i> Ubicación:
                    </label>
                    <div flex="75">
                      <input type="text" ng-model="tour.location.name" disabled="disabled">
                    </div>
                </div>-->
                <div class="input-field-wrap" layout="row" layout-align="space-between center" >
                    <label flex="40">
                      <i class="icon-adultos highlight"></i> <%= __('adults') %>:
                    </label>
                    <div flex="60">

                      <md-select ng-model="tour.adults" ng-required class="custom-select" ng-change="updatePrices(tour)">
                         <md-option value="{{paxSize}}" ng-repeat="paxSize in tour.maxPaxSize track by $index">{{paxSize}}</md-option>
                      </md-select>

                    </div>
                </div>
                <div class="input-field-wrap" layout="row" layout-align="space-between center" ng-if="tour.feeChild || tour.priceType == 'group'">
                    <label flex="40">
                      <i class="icon-nino highlight"></i> <%= __('kids') %>:
                    </label>
                    <div flex="60">

                      <md-select ng-model="tour.kids" ng-required class="custom-select" ng-change="updatePrices(tour)">
                         <md-option value="0">0</md-option>
                         <md-option value="1">1</md-option>
                         <md-option value="2">2</md-option>
                         <md-option value="3">3</md-option>
                         <md-option value="4">4</md-option>
                         <md-option value="5">5</md-option>
                         <md-option value="6">6</md-option>
                      </md-select>

                    </div>
                </div>
                <div class="input-field-wrap" layout="row" layout-align="space-between center" ng-if="tour.schedules.length > 0">
                    <label flex="40">
                      <i class="icon-horario highlight"></i> <%= __('schedule') %>:
                    </label>
                    <div flex="60">
                      <md-select class="custom-select" ng-model="tour.schedule" ng-required>
                          <md-option value="{{schedule}}" ng-repeat="schedule in tour.schedules">De {{schedule.from | date:'HH:mm'}} a {{schedule.to | date:'HH:mm'}}</md-option>
                      </md-select>
                    </div>
                </div>
                <div ng-if="hasDeparturePoints(tour)" class="input-field-wrap" layout="row" layout-align="space-between center">
                    <label flex="40">
                        <i class="icon-pin highlight"></i> <%= __('select_departure_point') %>
                    </label>
                    <div flex="60">
                        <md-select ng-model="tour.departurePoint" ng-required name="departurePoint">
                            <md-option value="{{departurePoint}}" ng-repeat="departurePoint in tour.departurePoints" ng-selected="$index == 0"> {{ departurePoint.name }}</md-option>
                        </md-select>
                    </div>
                </div>
                <div flex='100' layout-align='center center'>
                    <p class='blueText'>
                        <md-checkbox class="md-primary" ng-model="tour.transfer" aria-label="" ng-change="updatePrices(tour)">
                            <i class='icon-transporte'></i> <%= __('add_transport') %>
                        </md-checkbox>
                    </p>
                    <div class='hotel-select' ng-hide="!tour.transfer" layout='row' layout-align='center center'>
                        <span><i class='icon-pin'></i>Hotel</span>
                        <span>
                          <md-autocomplete
                                  class="custom-autocomplete"
                                  md-no-cache="false"
                                  md-selected-item="tour.hotel"
                                  md-search-text="tour.searchText"
                                  md-items="item in hotels|filter:{name : tour.searchText}:false"
                                  md-item-text="item.name"
                                  md-min-length="1"
                                  md-selected-item-change="updatePrices(tour)"
                                  placeholder="">
                              <md-item-template>
                                  <span md-highlight-text="tour.searchText" md-highlight-flags="^i">{{item.name}}</span>
                              </md-item-template>
                              <md-not-found>
                                  <%= __('no_results_found') %> "{{tour.searchText}}".
                              </md-not-found>
                          </md-autocomplete></span>
                    </div>
                </div>
            </section>
        </div><!--Booking form-->


        <md-button class='removeTour' ng-click="removeTour($index)"><i class='icon-cerrar'></i></md-button>
    </div><!-- block-content ngRepeat -->

</div>
