<div id="datos-viajero" ng-class="step == 1 ? 'activar' : 'ng-hide'">

  <div class="title-block title-block-data booking-form" ng-if="hotel">
    <h3>
      <i class="icon-transporte icono-trans-d"></i>
       <strong><%= __('data_for_tour') %> (<%= __('optional') %>)</strong>
    </h3>
    <input flex="50" flex-sm="100" type="text" ng-model="transferClientName">
  </div>

  <% if(!req.user){ %>
    <div class="block-content">
      <div class="block-content-subtitle">
        <h3><%= __('continue_shopping_as') %></h3>
        <h3><strong><%= __('registered_user') %></strong></h3>
      </div>
      <%- partial('../partials/login-booking') -%>
    </div>
  <% } %>


  <div class="block-content" id="datos-viajero-2">
        <div class="block-content-subtitle">
          <h3><%= __('continue_shopping_as') %></h3>
          <h3><strong><%= __('new_user') %></strong></h3>
        </div>
        <p><strong><%= __('data_for_reservation') %></strong></p>
        <p><%= __('booking_label1') %></p>
        <form name="clientData" class="booking-form">

            <div class="input-field-wrap" layout="row" layout-wrap layout-align="space-between start">
              <input
                flex="45"
                flex-sm="100"
                type="text"
                class="input-field"
                placeholder="<%= __('name') %>"
                ng-model="client.name"
                name="name"
                required
                ng-class="{'input-field-error': clientData.name.$invalid && validatingClient }"
                >
              <input
                flex="45"
                flex-sm="100"
                type="text"
                class="input-field"
                placeholder="<%= __('last_name') %>"
                ng-model="client.last_name"
                name="last_name"
                ng-class="{'input-field-error': clientData.last_name.$invalid && validatingClient }"
                required>
            </div>

            <div class="input-field-wrap" layout="row" layout-wrap layout-align="space-between center">
              <input
                flex="45"
                flex-sm="100"
                type="email"
                class="input-field"
                placeholder="E-mail"
                ng-model="client.email"
                name="email"
                ng-class="{'input-field-error': (clientData.email.$invalid && validatingClient) || (clientData.email.$error.email && validatingClient) }"
                required>

              <input
                flex="45"
                flex-sm="100"
                type="email"
                class="input-field"
                placeholder="<%= __('confirm_email') %>"
                name="repeat_email"
                required
                ng-class="{'input-field-error': (clientData.repeat_email.$invalid && validatingClient) || (clientData.repeat_email.$error.email && validatingClient) }"
                ng-model="repeat_email">
            </div>

            <p class="tel-label no-margin"><%= __('phone_number') %></p>

            <div layout="row" layout-wrap layout-align="space-between center">
              <div class="input-field-wrap" flex="45" flex-sm="100">
                  <input
                    flex="100"
                    class="input-field"
                    type="text"
                    required
                    placeholder="<%= __('lada') %>"
                    ng-model="client.phone_lada"
                    name="phone_lada"
                    ng-class="{'input-field-error': clientData.phone_lada.$invalid && validatingClient }">
              </div>
              <div class="input-field-wrap" flex="45" flex-sm="100" layout="row" layout-wrap flex-sm="100" layout-align="start center" >
                  <input
                    flex="65"
                    flex-sm="100"
                    type="text"
                    class="input-field"
                    placeholder="<%= __('phone_number') %>"
                    name="phone"
                    required
                    ng-class="{'input-field-error': clientData.phone.$invalid && validatingClient }"
                    ng-model="client.phone">

                  <div class="celular" flex="20" flex-sm="100" layout="row" layout-align="space-around center" >
                    <md-checkbox md-no-ink aria-label="Celular" ng-model="client.isMobile" class="md-primary">
                      <%= __('mobile_phone_number') %>
                    </md-checkbox>
                  </div>
              </div>
            </div>

        </form>
    </div>
</div>
