<script type="text/javascript">
    var hotels = <%- JSON.stringify(hotels) %>;
    <% if(req.user){ %>
      var client = <%- JSON.stringify(req.user) %>;
    <% } %>
</script>
<div  class="booking" ng-controller="reservaCTL">
    <div id="reserva" >

        <div
          class="container-xlg"
          layout="row"
          layout-wrap
          layout-align="space-between start"
          layout-align-md="center center"
          layout-align-sm="center center">

          <!--LEFT SIDE-->
          <div class="booking-content" flex="60" flex-md="100" flex-sm="100" >

              <!--STEPS BAR-->
              <div class="booking-header" layout="row"   ng-click="console.log(step);">
                  <div
                    class="step"
                    ng-click="step = 0"
                    ng-class="step == 0 ? 'step-on' : ''"
                    flex="33">
                      <span><strong>1.</strong> <%= __('your_reservation') %></span>
                  </div>
                  <div
                    class="step"
                    ng-click="step = cartComplete ? 1 : step"
                    ng-class="step == 1 ? 'step-on' : ''"
                    flex="33" >
                    <span><strong>2.</strong> <%= __('traveler_info') %></span>
                  </div>
                  <div
                    class="step"
                    ng-click="step = clientComplete ? 2 : step"
                    ng-class="step == 2 ? 'step-on' : ''"
                    flex="33" >
                      <span><strong>3.</strong> <%= __('payment') %></span>
                  </div>
              </div>
              <!--END STEPS BAR-->

              <!--RESERVACION STEP 1-->
              <%- partial('cart') -%>
              <!--END STEP 1-->

              <!--STEP 2-->
              <%- partial('client') -%>
              <!--END STEP 2-->

              <!--STEP 3-->
              <%- partial('payment') -%>
              <!--END STEP 3-->

              <div class="continue-wrap-btns" ng-if="step < 2">
                <div layout='row' layout-align='end center'>
                  <a href="" ng-click="continueShopping()" class="action-btn continue-btn shopping"><%= __('continue_shopping') %></a>
                  <a href="" ng-click="continueClick()" class="action-btn continue-btn"><%= __('continue') %></a>
                </div>
              </div>
          </div>
          <!--END LEFT SIDE-->

          <!--RIGHT SIDE-->
          <div class="booking-info" flex="35" flex-md="100" flex-sm="100">
            <h2 class="booking-info-title"><%= __('your_reservation') %></h2>
            <div class="booking-info-inner">

              <div class="booking-info-item" ng-repeat="tour in tours track by $index">
                <section class="booking-info-block">
                  <h3>
                    <a ng-href="/{{currentLang}}/tour/{{tour.url}}" target="_blank">
                      <% if(req.params.lang === 'es'){ %>
                        {{tour.name}}
                      <% }else{ %>
                        {{tour.name_en}}
                      <% } %>
                    </a>
                  </h3>
                  <p class="precio-detalles">{{global_currency.currency_code | uppercase}} {{priceTour(tour) | currency}}</p>
                </section>
                <section ng-if="tour.hotel && tour.transfer" class="booking-info-block">
                  <p><strong><%= __('transportation') %></strong></p>
                  <p>{{global_currency.currency_code | uppercase}} {{priceTransfer(tour) | currency}}</p>
                </section>
              </div>

              <div class="booking-info-item">
                <section class="booking-info-block">
                  <p class="text-total-d"><strong>TOTAL</strong></p>
                  <p class="precio-total-d" ng-class="{'blink-txt': blinkClass}">{{priceTotal() | currency}} <span>{{global_currency.currency_code | uppercase}}</span></p>
                </section>
              </div>
            </div>
            <div class="booking-info-inner center-content" ng-if="step < 2">
              <a href="" ng-click="continueClick()" class="action-btn"><%= __('continue') %></a>
            </div>
          </div>
          <!--END RIGHT SIDE-->

        </div>
    </div>
</div>
