<script type="text/javascript">
  var theorder = <%- JSON.stringify(theorder) %>;
  var reservations = <%- JSON.stringify(reservations) %>;
  var hasError = <%- error %>;
  var company = <%- JSON.stringify(company) %>;
</script>
<div ng-controller="voucherCTL">
  <!--LEFT SIDE blueBG-->
  <section class="container-xlg container-pad voucher-container">

    <div class="top-info" layout="row" layout-align="space-between start">
      <div flex="65">
        <div class="voucher-date">
          <p>
            <a href="#" onClick="window.print()">
              <img src="/images/impresora.png" alt="Imprimir"> <%= __('print') %>
            </a> / {{order.dtCreated | date : 'shortDate'}}</p>
        </div>
        <p>
          <strong><%= __('reservation_number') %></strong>: <strong class="highlight" ng-bind="order.id"></strong>
        </p>
        <p>
          <strong><%= __('name') %> :</strong> <strong class="highlight">{{order.client.name}} {{order.client.last_name}}</strong>
        </p>
      </div>
      <div class="static-info" flex="30">
        <p><a href="/" target="_blank"><img src="/images/watertourslogo.png" class="voucher-logo" alt="WaterTours"></a></p>
        <p><strong>CANCÚN WATER TOURS</strong></p>
        <p>Avenida Bonampak Calle Cereza #1</p>
        <p>SM 2a L. 20 CP 77500 Cancún,</p>
        <p>Quintana Roo, México</p>
        <p><a href="mailto:info@cancunwatertours.com">info@watertours.com</a></p>
      </div>
    </div>

    <div layout="row" layout-align="space-between start" ng-repeat="reservation in reservations">
      <div flex="45">

        <!-- VOUCHER ITEM -->
        <div class="voucher-item">
          <h3 class="voucher-title" ng-bind="reservation.reservation_type | uppercase"></h3>
          <p>
            <strong>{{reservation.reservation_type | uppercase}}: </strong>
              <strong>
                <% if(req.params.lang === 'es'){ %>
                  <a class="highlight" href="#" target="_blank" ng-bind="reservation.tour.name"></a>
                <% }else{ %>
                  <a class="highlight" href="#" target="_blank" ng-bind="reservation.tour.name_en"></a>
                <% } %>
              </strong>
          </p>
          <p><strong><%= __('duration') %>:</strong> {{reservation.tour.duration_formated}}</p>
          <p ng-if="reservation.schedule"><strong>Horario:</strong> {{reservation.schedule}}</p>
          <p><strong><%= __('date') %>:</strong> {{reservation.date}}</p>
          <p><strong>Total: {{reservation.fee + reservation.feeKids}} {{reservation.currency}}</strong></p>
        </div>
        <!--END VOUCHER ITEM-->

        <!--VOUCHER ITEM-->
        <div class="voucher-item">
          <h3 class="voucher-title"><%= __('tour_details') %></h3>
          <div class="voucher-prop">
            <p><strong><%= __('includes') %></strong></p>
            <p ng-bind-html-unsafe="reservation.tour.includesList"></p>
          </div>
          <div class="voucher-prop">
            <p><strong><%= __('noincludes') %></strong></p>
            <p ng-bind-html-unsafe="reservation.tour.notIncludesList"></p>
          </div>
          <div class="voucher-prop">
            <p><strong><%= __('recommendations') %></strong></p>
            <p ng-bind-html-unsafe="reservation.tour.recommendations_es"></p>
          </div>
        </div>
        <!--END VOUCHER ITEM-->

      </div>

      <div flex="45">
        <!-- VOUCHER ITEM -->
        <div class="voucher-item">
          <h3 class="voucher-title">TOTAL</h3>
          <p><strong>TOTAL: {{getTotal()}} usd.</strong></p>
        </div>
        <!--END VOUCHER ITEM-->
      </div>

    </div>

    <!--<h3>GRACIAS</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div layout='row' layout-wrap layout-align='center center' class='iconsRow'>
      <div flex='initial'>
        <p><i class='icon-mascompradas'></i></p>
      </div>
    </div>
    <p><a href="/" class='action-btn'>Home</a></p>-->
  </section>
</div>
